body{background-color:#CFC;}

h1{color: #f00;  
   font-size: 2rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

h2{color: #a00;
 font-size: 1.5rem;}

 p{color: blue;
  font-size: 1rem;
  font}

  b{font-size: 20px;}

  ul{color: #00f;
   font-size: 1rem;}
   
i{background-color: black;
   color: white;}

   span{color:#060;
   font-size: 20px;}
